<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">RESTful Dog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% dogs.forEach(function(dog){ %>
                <div class="item">
                    <div class="image">
                        <img src=" <%= dog.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/dogs/<%= dog._id %>"><%=dog.title%></a>
                        <div class="meta">
                            <span><%= dog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- dog.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extra">
                                <a class="ui floated basic violet button" href="/dogs/<%= dog._id %>">
                                    Read More
                                    <i class="ui right chevron icon"></i>
                                </a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ./partials/footer %>